# Copyright (c) 2020 Antoine Tran Tan
#

# Ignore everything
*

# Except certain file extensions
!*.cpp
!*.c
!*.hpp
!*.h
!*.md
!*.png
!*.gif
!*.jpg
!CMakeLists.txt
.vscode/settings.json

# ...even if they are in subdirectories
!*/

# ...but not in 'build' folder
/build
